<html>
<head>

</head>
<body><div style="border-radius:6px;border:outset;padding-left:10%;">
<header><img src="https://pbs.twimg.com/profile_images/378800000129015930/5bac54851ca4cf7d63abff59b288abd2.png" width="150" height="150"></img><img src="http://www.jobcoconut.com/uploads/blogs/graphics-people-employees.png" style="width:60%;height:180px; float:right"></header>
<br><br><hr>

<br>
<font color="black">
<p>Hi {{firstname}}</p>

<p>Congratulations you have successfully created your account</p>

<p>Please keep this credential which you provide us</p>
<center>
<table border="1">
<th>Username</th>
<th>Password</th>
<tr>
<td>{{username}}</td>
<td>{{password}}</td>
</tr>
</table>
</center>


<p>Verification Code  : {{verification_code}}</p>

<p>Click the below link for email verification</p>

<p><a href="http://localhost:8000/verify">http://localhost:8000/verify</a></p>

<p>Have a great day!</p>
<br><br><br><br><br><br><br><br><br><br></font>
<footer style="background-color:cyan"><center>
&copy; All right reserved</center>
</footer>
</div>

</html>

