<!DOCTYPE html>
<html lang="en">

<head>
<script src="https://apis.google.com/js/client:platform.js" async defer></script>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Employee world</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font.-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/mons.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/lato.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/html5shiv.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.//static//static/js/1.4.2/respond.min.js"></script>
    <![endif]-->
    





</head>

<body id="page-top" class="index">
<form name="facebookdata" id="facebookdataid" action="/adduser" method="post">
{% csrf_token %}
<input type="hidden" id="id">
<input type="hidden" id="first_name" name="fname">
<input type="hidden" id="last_name" name="lname">
<input type="hidden" id="full_name" name="full_name">
<input type="hidden" id="gender" name="gender">
<input type="hidden" id="email" name="email">

<input type="hidden" id="verified">
</form>

<!-- Facebook login -->
<script>
/*  window.fbAsyncInit = function() {
    FB.init({
      appId      : '',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));*/
</script>



<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '860886577317245',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    
    FB.api('/me?fields=picture,email,first_name,name,gender,verified,last_name,relationship_status',function(response) {
        console.log(response);
        
      var id=response.id;
      var name=response.name;
      var firstname=response.first_name;
      var lastname=response.last_name;
      var email=response.email;
      var verified=response.verified;
      var gender=response.gender;
      var image=response.picture.data.url;
      
      
      /*ajax part start here*/
      var elfname=document.getElementById("first_name");
      elfname.value=firstname;
      var ellname=document.getElementById("last_name");
      ellname.value=lastname;
      var elemail=document.getElementById("email");
      elemail.value=email;
      var elgender=document.getElementById("gender");
      elgender.value=gender;
      var elid=document.getElementById("id");
      elid.value=id;
      var elverified=document.getElementById("verified");
      elverified.value=verified;
      var elfulname=document.getElementById("full_name");
      elfulname.value=name; 
      

      /*document.getElementById("facebookdataid").submit();*/
     
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->


<!-- Facebook login End -->


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">
        <div > {%if message%} <centre><font color="red">{{message}}</font></center>{%endif%}</div>




            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Employee World</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#register">Signup</a>
                    </li>
                    <li><a href="#register">Signin</a></li>
                    <li>
                      
                        <button onclick="signinCallback()">
                          Google Sign in

                        </button>

                    </li>

                    <li>
                     <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                        </fb:login-button>

                        <div id="status">
                        
                        </div>

                    </li>

                     
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="//static//static/img/profile.png" alt="">
                   <font color="green"> {%if success_message %}
                    {{success_message}}
                    {%endif%}</font>
                        <font color="red"> {%if unsuccess_message %}
                    {{unsuccess_message}}
                    {%endif%}</font>
                   
                    
                    
                    <div class="intro-text">
                        <span class="name">Login Here</span>
                        <hr class="star-light"> 
                        <form action="/index" method="post">
                        {% csrf_token %}
                        <span class="skills"><input  type="text" name="username" placeholder="Your Username" style="color:black;width:25%;height:50px;border-radius:5px">&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="password" name="pass" placeholder="Your Password" style="color:black;width:25%;height:50px;border-radius:5px">
                        
                    
                        <span><input type="submit" class="btn btn-primary" value="Login"></span><br>
                        <span style="font-size:50%;margin-left:-40%"><input type="checkbox" value="1" name="remember">&nbsp;&nbsp;&nbsp;Remember me&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="color:white;cursor:pointer" href="/fpass" value="1" >Forget Password ?</a>
                        </span>
                        
                       

                        
                        </form>
                    </div>
                        
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-text" id="register">
                       
        

<!-- google login script -->
        <script type="text/javascript">
    
    function signinCallback(authResult) {
      
      var param={"callback":signinCallback,"clientid":"369780473877-ojs8i8k4sm9rjd71lk9cutablh57gkvb.apps.googleusercontent.com","scope":"https://www.googleapis.com/auth/plus.login",
  "cookiepolicy":"single_host_origin"};

   gapi.auth.signIn(param);
}


</script>

           <!-- google login end -->

           <script>
/*password matchin script*/
function pho()
{
var x=document.forms["regform"]["password"].value;
var y=document.forms["regform"]["mname"].value;
if(x!=y)
{
alert("Password not match please try again");
}
}


function btnenable()
{

if (document.getElementById("terms").checked==true)
    {
    document.getElementById("adduder").disabled = false;
    }
else{
    document.getElementById("adduder").disabled = true;
}


}
</script>
          <font color="green" ><b> {%if verify_message%}
           {{verify_message}}
           {%endif%}</font></b>
         <span   class="name">Register Here</span>
                        <hr class="star-light">
        <div  style="width:70%;margin-left:25%;padding-left:10%">
        <form action="/adduser" method="post" name="regform" enctype="multipart/form-data">
         {%csrf_token%}
          
  
             <input type="text"  name="fname" placeholder="Firstname" style="display:block;width:50%;height:5%;margin-top:2%;color:black" required>


            <input type="text" name="lname" placeholder="Lastname" style="display:block;width:50%;height:5%;margin-top:2%;color:black" required>
            <input type="text" name="email" placeholder="Email" style="display:block;width:50%;height:5%;margin-top:2%;color:black" required>
            <input type="password" name="password" placeholder="Password" style="display:block;width:50%;height:5%;margin-top:2%;color:black" required>
            <input type="password" onchange="pho()" name="mname" placeholder="Re-enter password" style="display:block;width:50%;height:5%;margin-top:2%;color:black" required>
            <textarea  name="address" cols="20" row="5" style="display:block;width:50%;height:5%;margin-top:2%;color:black" required></textarea>
                
            
            <select name="gender" style="display:block;width:50%;height:5%;margin-top:2%;color:black" required>
            <option>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            </select>

            <select name="marriage" style="display:block;width:50%;height:5%;margin-top:2%;color:black" required>
            <option>Marital Status</option>
            <option value="Married">Married</option>
            <option value="Unmarried">Unmarried</option>
            </select>


            <input type="text" maxlength="10" name="phone" placeholder="Contact No." style="display:block;width:50%;height:5%;margin-top:2%;color:black" required>

            <select name="employeerole" style="display:block;width:50%;height:5%;margin-top:2%;color:black" required>
            <option>Employee Role</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
            </select>
            <input type="file" name="profile_pic" style="display:block;width:50%;height:5%;margin-top:2%;color:black">
            <input type="checkbox" onclick="btnenable()" id="terms"  />&nbsp;&nbsp;&nbsp;I agree with all the <a href="/terms_and_condition" style="color:blue;" >Terms & conditions . </a>
           
            <input type="submit" name="abtn" id="adduder" disabled="disabled" class="btn btn-primary" value="Add Employee" style="display:block;width:50%;height:7%;margin-top:2%;color:black">


        </form>



       </div>
       <br><br>
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    

</body>

</html>
