<doctype HTML> 

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/mystylesheet.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome//static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">




<header id="headers">
<div style="width:auto;float:left;margin-left:7%"><h3>Employee World</h3></div>
<form action="/logout" method="get">

<span style="float:right;margin-right:10%;margin-top:2%">
    <input type="submit"  value="logout" class="btn btn-warning">

</form>
</span>
<span style="float:right;margin-right:2%;margin-top:3%;">Howdy {{firstname}}</span>
<span style="float:right;margin-right:3%;margin-top:1.8%; ">
    <a href="/user_index"><img src="/static/img/uploads/{{profile_pic}}" width="50" height="50" style="border-radius:30px"></a>
</span>
</header>

<aside id="sidebar">
<div>
<ul style="list-style:none;">
<a href="user_index" style="display:inline-block">Home</a>
<a href="/generate_id" style="display:inline-block">Generate Id Card</a>
<a href="/reset" style="display:inline-block">Reset Password</a>

</div>
</aside>



{% block content%}

{%endblock%}